venv/
*.pyc
*.log
dumps
status
now
outputs
israeli-supermarkets-2024
.DS_Store
*cookies.txt
index.json
.env
remote_israeli-supermarkets-2024/
document_db/
mongo_data/
app_data/
.env.prod
.env.test
.env.unittest
venv
.venv
.secrets
.env.stage
.secrets
mongo-data
