il-supermarket-scraper==0.5.9
il-supermarket-parser==0.1.9
kaggle==1.6.17
schedule==1.2.2
kaggle==1.6.17
schedule==1.2.2
boto3==1.36
botocore==1.36
fastapi[all]==0.109.2
uvicorn==0.29.0
pymongo==4.6.3
starlette==0.36.3
supabase
sqlalchemy==2.0.27
filelock==3.18.0
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability